[package]
name = "xc3_shader"
version = "0.5.0"
edition = "2021"

[dependencies]
xc3_lib = { path = "../xc3_lib" }
xc3_model = { path = "../xc3_model" }
rayon = "1.8.1"
globwalk = "0.9.1"
clap = { version = "4.2.7", features = ["derive"] }
glsl-lang = { version = "0.5.1", features = ["lexer-v2-full"] }
serde_json = "1.0"
log = "0.4.19"
simple_logger = "4.2.0"

[dev-dependencies]
indoc = "2"
pretty_assertions = "1.4.0"
