[package]
name = "xc3_viewer"
version = "0.2.0"
edition = "2021"

[dependencies]
futures = "0.3.27"
wgpu = "0.18.0"
winit = { version = "0.29.4", features = ["rwh_05"] }
glam = "0.24.0"
xc3_wgpu = { path = "../xc3_wgpu" }
xc3_model = { path = "../xc3_model" }
log = "0.4.19"
simple_logger = "4.2.0"
clap = { version = "4.2.7", features = ["derive"] }
tracing = "0.1.0"
tracing-subscriber = { version = "0.3.0", optional = true }
tracing-tracy = { version = "0.10.4", optional = true }

[features]
tracing = ["tracing-subscriber", "tracing-tracy"]
